body {
  font-family: "Comic Neue", cursive;
  padding-bottom: 50px;
}

button {
  min-width: 150px;
}

#flashcard {
  transition: background-color 0.25s ease;
  /* Smooth transition for color change */
}

/* Adjusting the title size */
#title {
  font-size: 25px;
  /* Smaller than the original */
}

/* Making the flashcard content text bigger */
.flashcard-content {
  font-size: 25px;
  /* Larger for better readability */
}

.flashcard-question {
  background-color: #f9f871;
}

.flashcard-answer {
  background-color: #b2f2bb;
}

.flashcard-img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: auto;
  width: auto;
}

#cheatsheetTable {
  min-width: 75%;
}

.errorToast {
  background-color: red;
}

#choices button {
  font-size: 25px;
  min-height: 80px;
  min-width: 80px;
  border-radius: 100%;
  margin: 5px;
}

.row {
  padding: 5px;
}

.menu-entry {
  font-size: 18px;
  background-color: #f7f6d0; /* Giallo paglierino */
  border: 4px solid #c2c1a1; /* Darker shade of giallo paglierino */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Optional: for some internal spacing */
  margin: 10px; /* Optional: for some external spacing */
  width: auto; /* Optional: depends on content or specific requirements */
  text-align: center; /* Optional: if you need the text centered */
}

#flashcard-commands button {
  min-width: 75px;
  max-width: 150px;
  /* margin: 5px; */
}

#toast {
  padding: 10px;
  font-size: 25px;
  border-radius: 10px; /* Rounded corners */
}

.overlay {
  position: fixed; /* Fixed position relative to the viewport */
  font-size: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* Cover the full screen */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1050; /* High z-index to stay on top */
  display: flex; /* Use flexbox to center the content */
}

#overlayContent {
  padding-top: 10px;
  padding-bottom: 10px;
}